* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	display: grid;
	grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
	grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
	grid-gap: 15px;
}

header,
footer {
	grid-column: span 8;
}

header {
	padding: 1rem;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
}

footer {
	padding: 1rem;
}

footer ul {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.about-me {
	grid-column: 2/6;
}

.heroine {
	grid-column: 6/8;
	

}

.cathouse {
	grid-column: 2/5;
	grid-row: 3/4;
}

.pub-review:last-of-type {
	grid-column: 5/8;
}

/*.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(5, 20vmin);
  grid-template-rows: repeat(5, 20vmin);
}*/




/*.about-me {
	grid-column: 1 / 2;
	grid-row: 2 / 4;
}

.projects {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.cathouse {
	grid-column: 3 / 4;
	grid-row: 2 / 4;
}
.heroine {
	grid-column: 4 / -1;
	grid-row: 2 / 5;
}

.pub-review {
	grid-column: 2 / 3;
	grid-row: 3 / 5;
}

.library-friends {
	grid-column: 1 / 2;
	grid-row: 4 / 6;
}

.lang-show {
	grid-column: 3 / 4;
	grid-row: 4 / 5;
}*/

